@tailwind base;
@tailwind components;
@tailwind utilities;


.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: calc(6rem - 1px);
  top: 0;
  /* left: 0; */
  right: 0;
  z-index: 50;
  justify-content: center;
  align-items: center;
}
